/* Theme's variables/configurations */
/*----------------------------------------------------------------------------*/
:root {
	/* Layout */
	--footer-min-height: 5rem;
	--max-content-width: 1200px;
	--viewport-edges-padding: 20px; /* pad left & right for readability */

	/* Grid system */
	--gutter-width: 30px;

	/* Text */
	--text-font: 'Noto Serif', serif;
	--header-font: 'Nunito', sans-serif;
	--code-font: 'Source Code Pro', monospace;
	/*
	font-family: 'Noto Serif', serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Source Code Pro', monospace;
	*/

	/* Colors - Solarized Dark */
	--solarized-dark-base03:    #002B36; /* Code background */
	--solarized-dark-base02:    #073642;
	--solarized-dark-base01:    #586E75;
	--solarized-dark-base00:    #657B83;
	--solarized-dark-base0:     #839496;
	--solarized-dark-base1:     #93A1A1;
	--solarized-dark-base2:     #EEE8D5;
	--solarized-dark-base3:     #FDF6E3;
	--solarized-dark-yellow:    #B58900;
	--solarized-dark-orange:    #CB4B16;
	--solarized-dark-red:       #D30102;
	--solarized-dark-magenta:   #D33682;
	--solarized-dark-violet:    #6C71C4;
	--solarized-dark-blue:      #268BD2;
	--solarized-dark-cyan:      #2AA198;
	--solarized-dark-green:     #859900;
	/* Colors - zughy 32 */
	--zughy-00: #472D3C; /* */
	--zughy-01: #5E3643; /* */
	--zughy-02: #7A444A; /* */
	--zughy-03: #A05B53; /* */
	--zughy-04: #BF7958; /* */
	--zughy-05: #EEA160; /* */
	--zughy-06: #F4CCA1; /* */
	--zughy-07: #B6D53C; /* */
	--zughy-08: #71AA34; /* */
	--zughy-09: #397B44; /* */
	--zughy-10: #3C5956; /* */
	--zughy-11: #302C2E; /* */
	--zughy-12: #5A5353; /* */
	--zughy-13: #7D7071; /* */
	--zughy-14: #A0938E; /* */
	--zughy-15: #CFC6B8; /* */
	--zughy-16: #DFF6F5; /* */
	--zughy-17: #8AEBF1; /* */
	--zughy-18: #28CCDF; /* */
	--zughy-19: #3978A8; /* */
	--zughy-20: #394778; /* */
	--zughy-21: #39314B; /* */
	--zughy-22: #564064; /* */
	--zughy-23: #8E478C; /* */
	--zughy-24: #CD6093; /* */
	--zughy-25: #FFAEB6; /* */
	--zughy-26: #F4B41B; /* */
	--zughy-27: #F47E1B; /* */
	--zughy-28: #E6482E; /* */
	--zughy-29: #A93B3B; /* */
	--zughy-30: #827094; /* */
	--zughy-31: #4F546B; /* */
	/* Colors - Extra */
	--color-white: #FFFFFF;
	--color-black: #000000;

	/* Colors - Theme */
	--background-color:  var(--zughy-11);
	--main-background-color: var(--zughy-11);
	--content-color: var(--solarized-dark-base3);
	--header-color: var(--solarized-dark-base3);
	--footer-color: var(--solarized-dark-base3);
	--code-block-background-color: var(--solarized-dark-base03);
	--code-block-color: var(--solarized-dark-base0);
	--inline-code-background-color: var(--zughy-21);
	--inline-code-color: var(--zughy-25);
	--header-background-color: var(--zughy-01);
	--footer-background-color: var(--zughy-01);
	--hyperlink-color: var(--zughy-18);
}
/******************************************************************************/
