<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/images/favicon.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:ital,wght@0,600;0,700;0,800;0,1000;1,900&family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/theme.css">
    <title>$title$</title>
</head>
<body>
<div class="wrapper">

<header class="header">
	<div class="container">
		<!-- Navigation menu -->
		<nav class="col-12">
			<ul class="nav-list">
				<li class="logo"><a href="/articles/games">BITSGOFER</a></li>
				<li class="nav-item"><a href="/articles/about">ABOUT</a></li>
				<li class="nav-item"><a href="/articles/games">GAMES</a></li>
			</ul>
		</nav>
		<!-- Navigation toggle button (mobile only) -->
		<input type="checkbox" id="header-nav-toggle"/>
		<label for="header-nav-toggle" class="header-nav-toggle">&equiv;</label>
	</div>
</header>

<div class="main container">
    <div class="row">
		<article class="col-12">$body$</article>
    </div>
</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img class="logo" src="/images/logo_dark.svg"/>
				<p class="copyright">&copy Bitsgofer Inc. All rights reserved.</p>
			</div>
			<div class="col-4">
				<ul>
					<li><a href="https://bitsgofer.itch.io/">Itch.io</a></li>
					<li><a href="https://bitsgofer.itch.io/">Steam</a></li>
					<li><a href="https://bitsgofer.itch.io/">Patreon</a></li>
				</ul>
			</div>
			<div class="col-4">
				<ul>
					<li><a href="mailto:hello@bitsgofer.com">Email</a></li>
					<li><a href="https://bitsgofer.itch.io/">Mastodon</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</div>

<script type="text/javascript" src="/js/theme.js"></script>
</body>
</html>
