<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/images/favicon.svg">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:ital,wght@0,600;0,700;0,800;0,1000;1,900&family=Roboto+Mono&family=Source+Code+Pro&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/theme.css">

	<!-- metadata -->
    <title>$title$</title>
$for(author-meta)$
	<meta name="author" content="$author-meta$" />
$endfor$
	<!-- metadata -->
</head>
<body>
<div class="wrapper">

<header class="header">
	<div class="container">
		<!-- Navigation menu -->
		<nav class="col-12">
			<ul class="nav-list">
				<li class="logo"><a href="/about">HOME</a></li>
				<li class="nav-item"><a href="/about">ABOUT</a></li>
			</ul>
		</nav>
		<!-- Navigation toggle button (mobile only) -->
		<input type="checkbox" id="header-nav-toggle"/>
		<label for="header-nav-toggle" class="header-nav-toggle">&equiv;</label>
	</div>
</header>

<div class="main">
	<div class="container">
    	<div class="row">
			<article class="col-12">
				<div class="article-metadata">
					<h1>$title$</h1>

					<p><b>Authors</b>: $for(author)$$author$, $endfor$</p>

					$if(date-meta)$<p><b>Written on</b>: $date-meta$</p>$endif$
					$if(last-modified-date)$<p><b>Updated on</b>: $last-modified-date$</p>$endif$
					<hr/>
				</div>

				<div class="content">
					$body$
				</div>
			</article>
    	</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="copyright">&copy Bitsgofer Inc. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>

</div>

<script type="text/javascript" src="/js/theme.js"></script>
</body>
</html>
